@model AplicacaoBanco.Models.Usuario

@{
    ViewData["Title"] = "CadastrarUsuario";
}

<h1>Cadastre seu usuário!</h1>

<h4>Essas informações abaixo são necessárias:</h4>
<hr />
<div class="row">
    <div class="col-md-auto">
        <form asp-action="CadastrarUsuario" class="centralize-items ">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group width-200px">
                <label asp-for="nomeUsu" class="control-label"></label>
                <input asp-for="nomeUsu" class="form-control" />
                <span asp-validation-for="nomeUsu" class="text-danger"></span>
            </div>
            <div class="form-group width-200px">
                <label asp-for="Cargo" class="control-label"></label>
                <input asp-for="Cargo" class="form-control" />
                <span asp-validation-for="Cargo" class="text-danger"></span>
            </div>
            <div class="form-group width-200px">
                <label asp-for="DataNasc" class="control-label"></label>
                <input type="date" asp-for="DataNasc" class="form-control" />
                <span asp-validation-for="DataNasc" class="text-danger"></span>
            </div>
            <div class="form-group width-200px">
                <label asp-for="CEP" class="control-label"></label>
                <input type="text" asp-for="CEP" class="form-control" />
                <span asp-validation-for="CEP" class="text-danger"></span>
            </div>
            <div class="form-group width-200px">
                <label asp-for="Estado" class="control-label"></label>
                <input type="text" asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group width-200px">
                <label asp-for="Cidade" class="control-label"></label>
                <input type="text" asp-for="Cidade" class="form-control" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="form-group width-200px">
                <label asp-for="Bairro" class="control-label"></label>
                <input type="text" asp-for="Bairro" class="form-control" />
                <span asp-validation-for="Bairro" class="text-danger"></span>
            </div>
            <div class="form-group width-200px">
                <label asp-for="Logradouro" class="control-label"></label>
                <input type="text" asp-for="Logradouro" class="form-control" />
                <span asp-validation-for="Logradouro" class="text-danger"></span>
            </div>
            <div class="form-group width-200px">
                <label asp-for="Complemento" class="control-label"></label>
                <input type="text" asp-for="Complemento" class="form-control" />
                <span asp-validation-for="Complemento" class="text-danger"></span>
            </div>
            <div class="form-group width-200px">
                <label asp-for="Numero" class="control-label"></label>
                <input type="number" asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group margin-top-10px">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />

            </div>
        </form>
    </div>
</div>

<div class="margin-top-10px">
    <a asp-action="Index">Voltar à lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
